.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
}

.modal-content h2 {
    text-align: center;
}

.modal.active {
    top: 0;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}


/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid #f55556;
    outline: none;
}

select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

select:focus {
    border: 1px solid #f55556;
    outline: none;
}

/* Submit Button */
button {
    margin-top: 15px;
    padding: 10px;
    background-color: #f55556;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f55556;
}